@import 'font-awesome';
@import 'normalization';
@import 'mixins';
@import 'themes';
@import 'type';

// Structure

$page-padding: .6rem;

html, body { height: 100%; overflow: hidden }

.authoring,
.slide-container,
.presentations-browser { position: absolute }

.authoring, .slide-container {
  top: 0;
  bottom: 0;
}

.presentations-browser {
  @include translate(-50%, -50%);
  top: 50%;
  left: 50%
}

.authoring       { left: 0 }
.slide-container { right: 0 }

body.editing {
  .authoring       { width: 40% }
  .slide-container { left: 40% }
}


// ---

// Authoring

.authoring {
  padding-top: $page-padding*4;

  .writing, .slides {
    display: none;

    &.visible { display: block }
  }

  .slides { padding: $page-padding*3 }
  .writing { padding: $page-padding*2 }

  menu {
    position: absolute;
    top: $page-padding;
    left: $page-padding*2;

    button, a {
      display: inline-block;
      width: 2rem;
      padding: 0;
      border: 0;
      text-align: center;
      text-decoration: none;
      background: transparent;
    }
  }

  .writing {
    height: 100%;

    form, form textarea {
      height: 100%;
      width: 100%;
    }

    textarea {
      padding: $page-padding;
    }
  }

  .slides {
    margin: 0;
    min-height: 20%;
    list-style: none;

    a {
      display: block;
      margin-top: .5rem;
      font-size: 1rem;
      color: inherit;
      text-decoration: none;
      cursor: pointer;

      &:before { margin-right: .25rem }

      .delete {
        float: right;
        font-size: 1rem
      }
    }
  }
}

// ---

// Slide container

.slide-container {
  margin: 0 $page-padding*2 0 $page-padding*2;

  .slide {
    @include translate(-50%, -75%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin: 0;

    pre {
      padding: $page-padding
    }
  }
}

// ---

// Presentations browser

.presentations-browser {
  display: none;
  width: 75%;
  height: 75%;
  margin: 0;
  padding: $page-padding*2;
  overflow-x: hidden;
  overflow-y: auto;

  li {
    position: relative;
    display: inline-block;
    margin: 0 $page-padding*1.5 $page-padding 0;
    width: 7rem;
    height: 6rem;
    overflow: hidden;

    .slide-thumb {
      @include translate(-50%, -60%);
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      margin: 0 $page-padding/2 0 $page-padding/2;
    }
  }
}
