@import 'font-awesome';
@import 'normalization';
@import 'themes';
@import 'type';

// Structure

$page-padding: .6rem;

html, body { height: 100%; overflow: hidden }

.authoring, .slide {
  position: absolute;
  top: 0;
  bottom: 0;
}

.authoring  { left: 0 }
.slide      { right: 0 }

body.editing {
  .authoring { width: 40% }
  .slide     { left: 40% }
}


// ---

// Authoring

.authoring {
  padding-top: $page-padding * 4;

  &>section {
    display: none;
    padding: $page-padding * 2;

    &.visible {
      display: block
    }
  }


  menu {
    position: absolute;
    top: $page-padding;
    left: $page-padding;

    button {
      border: 0;
      background: transparent;
    }
  }

  .writing {
    height: 100%;

    form, form textarea {
      height: 100%;
      width: 100%;
      border: 0;
      background: transparent;
    }
  }
}



