@import 'compass/css3/box-sizing';

// Sane font and margin settings
body {
  font-size: 62.5%;
  font-style: normal;
  line-height: 1.4;
  margin: 0
}

// Sane box sizing
* { @include box-sizing(border-box) }

textarea { padding: 0; resize: none; outline: none }

a, button { cursor: pointer }

menu { padding: 0; margin: 0 }

