// Themes
// ======

// Themes are activated by adding their coresponding class to the
// <body>.

@import 'mixins';

// Depth of view effect for when showing the presentations browser
body {
  @include transition(all, 0.25s, linear);
  @include transform-origin(50%, 50%);

  .presentations-browser {
    @include transition(all, 0.25s, linear);
    @include vendor-transform(scale(.9) translate(-50%, -50%));
    opacity: 0;
    pointer-events: none;
  }

  &.far {
    .authoring, .slide-container {
      @include vendor-filter(blur(1px))
    }

    .presentations-browser {
      @include vendor-transform(scale(1) translate(-50%, -50%));
      opacity: 1;
      pointer-events: auto
    }
  }
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(black, .5);
  z-index: 99
}


// Default
@import 'compass/css3/box-shadow';

body.theme-default {
  $background-color: #e9ebe6;
  $text-color: #333;

  background-color: $background-color;
  color: $text-color;

  .authoring {
    @include box-shadow(inset -.1rem 0 .5rem lighten($text-color, 50%));
    background-color: darken($background-color, 5%);

    menu {
      button, a {
        @include transition(color, 0.25s, linear);
        color: rgba($text-color, .6);

        &:hover, &.section-visible {
          color: $text-color;
        }
      }
    }

    .slides {
      border-bottom: 1px dashed $text-color;

      a {
        @include transition(background, 0.25s, linear);

        &:hover {
          background: rgba(black, .05);
        }
      }

      .delete {
        background-color: transparent;
        color: $text-color;
        border: 0;
      }
    }

    textarea {
      @include transition(background, 0.25s, linear);
      border: 0;
      background: transparent;
      color: darken($text-color, 5%);

      &:focus, &:hover {
        background: rgba(black, .05);
      }
    }
  }

  .slide {
    pre {
      background: rgba(black, .05);
    }
  }

  .presentations-browser {
    @include box-shadow(0 0 .5rem lighten($text-color, 20%));
    list-style: none;
    background-color: darken($background-color, 5%);
    border-radius: .25rem;

    li {
      border-bottom: 1px solid lighten($text-color, 60%);

      .created { color: lighten($text-color, 33%) }
      .preview {
        @include box-shadow(0 0 .25rem lighten($text-color, 50%));
      }
    }
  }
}

// ---
