@import 'compass/css3/box-shadow';

// Themes
// ======

// Factory
body.theme-default {
  $background-color: #e9ebe6;
  $text-color: #333;

  background-color: $background-color;
  color: $text-color;

  .authoring {
    @include box-shadow(inset -.1rem 0 .5rem lighten($text-color, 50%));
    background-color: darken($background-color, 5%);

    menu {
      button, a {
        @include transition(color, 0.25s, linear);
        color: rgba($text-color, .6);

        &:hover, &.section-visible {
          color: $text-color;
        }
      }
    }

    .slides {
      border-bottom: 1px dashed $text-color;

      a {
        @include transition(background, 0.25s, linear);

        &:hover {
          background: rgba(black, .05);
        }
      }

      .delete {
        background-color: transparent;
        color: $text-color;
        border: 0;
      }
    }

    textarea {
      @include transition(background, 0.25s, linear);
      border: 0;
      background: transparent;
      color: darken($text-color, 5%);

      &:focus, &:hover {
        background: rgba(black, .05);
      }
    }
  }

  .slide {
    pre {
      background: rgba(black, .05);
    }
  }
}

