// Font family and sizes
// =====================

body, input, select, button, textarea {
  font-family: 'PT Sans Narrow', 'Helvetica Neue', sans-serif
}

.authoring {
  menu button { font-size: 1.2rem }
  textarea {
    font-size: 1rem;
  }
}

.slide {
  margin: 0;

  h1 {
    margin: 0 0 1.2rem 0;
    font-size: 3.4rem;
  }

  p, li, code, blockquote {
    margin: 1.2rem 0 1.2rem 0;
    font-size: 1.6rem;
  }

  code {
    font-family: Monaco, sans-serif;
    font-size: .8rem;
  }
}
