// Font family and sizes
// =====================

body, input, select, button, textarea {
  font-family: 'PT Sans Narrow', 'Helvetica Neue', sans-serif
}

$standard-measure-unit: 0.6rem;

.authoring {
  menu {
    button, a { font-size: 1.2rem }
  }
  textarea {
    font-size: 1rem;
  }
}

.slide {
  h1 {
    margin: 0 0 $standard-measure-unit*2 0;
    font-size: 3.4rem;
  }

  p, li, code, blockquote {
    margin: $standard-measure-unit*2 0 $standard-measure-unit*2 0;
    font-size: 1.6rem;
  }

  code {
    font-family: Monaco, sans-serif;
    font-size: .8rem;
  }
}

.slide-thumb {
  h1 {
    margin: 0 0 $standard-measure-unit/2 0;
  }

  p, li, code, blockquote {
    margin: $standard-measure-unit/2 0 $standard-measure-unit/2 0;
  }
}

.slides {
  a {
    font-size: 1rem;

    .deleted {
      font-size: 1rem
    }
  }
}

.presentations-browser {
  .preview {
    h1 { font-size: 1rem }
    p, li, code { font-size: 0.5rem }
  }

  .title    { font-size: 1.6rem }
  .created  { font-size: 1.1rem }
}
